body {
	background: #eaedf7;
}
.custom-card {
	box-shadow: 0 10px 30px 0 rgba(24,28,33,.05);
}
.main-header-center {
	.form-control {
		border: 1px solid #eceef5;
		&:focus {
			background: transparent;
		}
	}
	.select2-container--default {
		.select2-selection--single {
			border-left: 0;
		}
	}
	.search-btn {
		background-color: #6259ca;
	}
}
.bg-primary {
	background-color: #6259ca !important;
	&::focus {
		background-color: #6259ca !important;
	}
	&::hover {
		background-color: #6259ca !important;
	}
	.main-nav {
		.nav-link.active {
			color: #fff;
		}
	}
}
.bg-primary-transparent {
	background-color: rgba(29,81,235,.1);
}
.select2-container--default {
	.select2-results__option--highlighted[aria-selected] {
		background-color: #6259ca !important;
		color: #fff;
		background-color: #f8f9ff !important;
		color: #6259ca;
	}
	.select2-selection--multiple {
		.select2-selection__choice {
			background-color: #f0f0ff;
			background-color: #e0e2f7;
			border: 1px solid #e0e2f7;
			color: #1d212f;
		}
		.select2-selection__choice__remove {
			color: #1d212f;
		}
	}
	.select2-selection--single {
		background-color: #fff;
		border: 1px solid #e8e8f7;
	}
	.select2-results__option[aria-selected=true] {
		background-color: #f1f2f9;
	}
}
.select2-container--classic.select2-container--open {
	.select2-selection--multiple {
		border: 1px solid #6259ca;
	}
	.select2-selection--single {
		border: 1px solid #6259ca;
	}
	.select2-dropdown {
		border-color: #6259ca;
	}
}
.select2-container--classic {
	.select2-selection--multiple {
		&:focus {
			border: 1px solid #6259ca;
		}
	}
	.select2-selection--single {
		&:focus {
			border: 1px solid #6259ca;
		}
	}
}
.text-primary {
	color: #6259ca !important;
	&:focus {
		color: #6259ca !important;
	}
	&:hover {
		color: #6259ca !important;
	}
}
.border-primary {
	border-color: #6259ca !important;
}
.bd-primary {
	border-color: #6259ca;
}
.card-item {
	.card-item-icon.card-icon {
		background: rgba(77,76,178,.1);
		fill: #6259ca;
	}
}
.card-dashboard-calendar {
	.ui-datepicker {
		.ui-datepicker-month {
			color: #6259ca;
		}
		.ui-datepicker-calendar {
			.ui-datepicker-today {
				a {
					background-color: #6259ca;
					border: 1px solid #6259ca;
				}
			}
		}
	}
}
#back-to-top {
	background: #6259ca;
}
.btn-primary {
	background-color: #6259ca;
	color: #fff;
	border-color: #6259ca;
	&:hover {
		color: #fff;
		background-color: #403fad;
		border-color: #403fad;
	}
	&:focus {
		background-color: #403fad;
		border-color: #403fad;
		box-shadow: 0 0 0 1px rgba(98,89,202,.2);
	}
	&:disabled {
		color: #fff;
		background-color: #6259ca;
		border-color: #6259ca;
	}
	&:not(:disabled) {
		&:not(.disabled).active {
			color: #fff;
			background-color: #4c4bb7;
			border-color: #5554c5;
			&:focus {
				box-shadow: 0 0 0 1px rgba(98,89,202,.2);
			}
		}
		&:not(.disabled) {
			&:active {
				color: #fff;
				background-color: #4c4bb7;
				border-color: #5554c5;
				&:focus {
					box-shadow: 0 0 0 1px rgba(98,89,202,.2);
				}
			}
		}
	}
}
.ckbox {
	span {
		&:after {
			background-color: #6259ca;
		}
	}
}
.btn-primary.focus {
	background-color: #403fad;
	border-color: #403fad;
	box-shadow: 0 0 0 1px rgba(98,89,202,.2);
}
.btn-primary.disabled {
	color: #fff;
	background-color: #6259ca;
	border-color: #6259ca;
}
.show {
	>.btn-primary.dropdown-toggle {
		color: #fff;
		background-color: #4c4bb7;
		border-color: #5554c5;
		&:focus {
			box-shadow: 0 0 0 1px rgba(98,89,202,.2);
		}
	}
	>.btn-main-primary.dropdown-toggle {
		color: #fff;
		background-color: #4c4bb7;
		border-color: #5554c5;
		&:focus {
			box-shadow: 0 0 0 1px rgba(64,63,173,.3);
		}
	}
	>.btn-outline-primary.dropdown-toggle {
		color: #fff !important;
		background-color: #6259ca;
		border-color: #6259ca;
		&:focus {
			box-shadow: 0 0 0 1px rgba(98,89,202,.2);
		}
	}
	>.btn-light.dropdown-toggle {
		color: #2c3033;
		background-color: #dbe0ea;
		border-color: #dbe0ea;
		&:focus {
			box-shadow: 0 0 0 1px #e1e6f1;
		}
	}
}
.btn-main-primary {
	color: #fff;
	background-color: #6259ca;
	border-color: #6259ca;
	&:hover {
		color: #fff;
		background-color: #403fad;
		border-color: #403fad;
	}
	&:focus {
		box-shadow: 0 0 0 1px rgba(64,63,173,.3);
	}
	&:disabled {
		color: #fff;
		background-color: #6259ca;
		border-color: #6259ca;
	}
	&:not(:disabled) {
		&:not(.disabled).active {
			color: #fff;
			background-color: #4c4bb7;
			border-color: #5554c5;
			&:focus {
				box-shadow: 0 0 0 1px rgba(64,63,173,.3);
			}
		}
		&:not(.disabled) {
			&:active {
				color: #fff;
				background-color: #4c4bb7;
				border-color: #5554c5;
				&:focus {
					box-shadow: 0 0 0 1px rgba(64,63,173,.3);
				}
			}
		}
	}
}
.btn-main-primary.focus {
	box-shadow: 0 0 0 1px rgba(64,63,173,.3);
}
.btn-main-primary.disabled {
	color: #fff;
	background-color: #6259ca;
	border-color: #6259ca;
}
.btn-outline-primary {
	color: #6259ca !important;
	border-color: #6259ca;
	&:hover {
		color: #fff !important;
		background-color: #6259ca;
		border-color: #6259ca;
	}
	&:focus {
		box-shadow: 0 0 0 1px rgba(98,89,202,.2);
	}
	&:disabled {
		color: #6259ca;
		background-color: transparent;
	}
	&:not(:disabled) {
		&:not(.disabled).active {
			color: #fff !important;
			background-color: #6259ca;
			border-color: #6259ca;
			&:focus {
				box-shadow: 0 0 0 1px rgba(98,89,202,.2);
			}
		}
		&:not(.disabled) {
			&:active {
				color: #fff !important;
				background-color: #6259ca;
				border-color: #6259ca;
				&:focus {
					box-shadow: 0 0 0 1px rgba(98,89,202,.2);
				}
			}
		}
	}
}
.btn-outline-primary.focus {
	box-shadow: 0 0 0 1px rgba(98,89,202,.2);
}
.btn-outline-primary.disabled {
	color: #6259ca;
	background-color: transparent;
}
.btn-light {
	color: #2c3033;
	background-color: #f0f0ff;
	border-color: #f0f0ff;
	&:hover {
		color: #2c3033;
		background-color: #dbe0ea;
		border-color: #dbe0ea;
	}
	&:focus {
		box-shadow: 0 0 0 1px #e1e6f1;
	}
	&:disabled {
		color: #2c3033;
		background-color: #dbe0ea;
		border-color: #dbe0ea;
	}
	&:not(:disabled) {
		&:not(.disabled).active {
			color: #2c3033;
			background-color: #dbe0ea;
			border-color: #dbe0ea;
			&:focus {
				box-shadow: 0 0 0 1px #e1e6f1;
			}
		}
		&:not(.disabled) {
			&:active {
				color: #2c3033;
				background-color: #dbe0ea;
				border-color: #dbe0ea;
				&:focus {
					box-shadow: 0 0 0 1px #e1e6f1;
				}
			}
		}
	}
}
.btn-light.focus {
	box-shadow: 0 0 0 1px #e1e6f1;
}
.btn-light.disabled {
	color: #2c3033;
	background-color: #dbe0ea;
	border-color: #dbe0ea;
}
.badge-primary {
	color: #fff !important;
	background-color: #6259ca;
}
a.badge-primary {
	&:focus {
		color: #fff !important;
		background-color: #6259ca;
		outline: 0;
		box-shadow: 0 0 0 .2rem rgba(135,96,251,.5);
	}
	&:hover {
		color: #fff !important;
		background-color: #6259ca;
	}
}
a.badge-primary.focus {
	outline: 0;
	box-shadow: 0 0 0 .2rem rgba(135,96,251,.5);
}
.badge-light {
	color: #55556b;
	background-color: #f1f2f9;
	background-color: #f0f0ff;
}
a.badge-light {
	&:focus {
		color: #8f9cc0;
		background-color: #d5d9e4;
		outline: 0;
		box-shadow: 0 0 0 .2rem rgba(244,245,248,.5);
	}
	&:hover {
		color: #8f9cc0;
		background-color: #d5d9e4;
	}
}
a.badge-light.focus {
	outline: 0;
	box-shadow: 0 0 0 .2rem rgba(244,245,248,.5);
}
.main-calendar {
	.fc-view.fc-agenda-view {
		.fc-day-header.fc-today {
			>a {
				color: #6259ca;
			}
		}
	}
	td.fc-today {
		.fc-day-number {
			background-color: #6259ca;
			&:focus {
				background-color: #6259ca;
			}
			&:hover {
				background-color: #6259ca;
			}
		}
	}
}
.main-msg-send {
	color: #6259ca;
}
.main-nav-column {
	.nav-link.active {
		color: #6259ca;
		&:focus {
			color: #6259ca;
		}
		&:hover {
			color: #6259ca;
		}
	}
}
.main-nav-line-chat {
	.nav-link.active {
		color: #6259ca;
	}
}

a {
	color: #6259ca;
	&:hover {
		color: #6259ca;
	}
}
.main-avatar {
	background-color: #6259ca;
}
.page-item.active {
	.page-link {
		background-color: #6259ca;
		border-color: #6259ca;
	}
}
table.dataTable.dtr-inline.collapsed {
	>tbody {
		>tr[role=row] {
			>td {
				&:first-child {
					&:before {
						background-color: #6259ca;
					}
				}
			}
			>th {
				&:first-child {
					&:before {
						background-color: #6259ca;
					}
				}
			}
		}
	}
}
.table-striped {
	tbody {
		tr {
			&:nth-of-type(odd) {
				background-color: #efefff;
				background-color: #f6f8ff;
			}
		}
	}
}
pre {
	background-color: #ecebfb;
}
.nav-pills {
	.nav-link.active {
		background-color: #6259ca;
	}
}
.main-nav {
	.nav-link.active {
		color: #6259ca;
	}
}
.accordion {
	.card-header {
		a {
			color: #6259ca;
			background-color: #e1e1f9;
		}
		a.collapsed {
			&:focus {
				background-color: #6259ca;
				color: #fff;
			}
			&:hover {
				background-color: #6259ca;
				color: #fff;
			}
		}
	}
}
.accordion-color {
	.card-header {
		a.collapsed {
			background-color: #6259ca;
		}
	}
}
.timeline-wrapper-primary {
	.timeline-badge {
		background: #6259ca;
	}
	.timeline-panel {
		&:before {
			background: #6259ca;
		}
	}
}
.br-theme-bars-1to10 {
	.br-widget {
		a {
			background-color: #f0f2f8;
		}
		a.br-active {
			background-color: #6259ca;
		}
		a.br-selected {
			background-color: #6259ca;
		}
	}
}
.br-theme-bars-movie {
	.br-widget {
		a.br-active {
			background-color: #6259ca;
		}
		a.br-selected {
			background-color: #6259ca;
		}
	}
}
.br-theme-bars-square {
	.br-widget {
		a.br-active {
			border: 2px solid #f0f2f8;
			color: #6259ca;
		}
		a.br-selected {
			border: 2px solid #f0f2f8;
			color: #6259ca;
		}
	}
}
.br-theme-bars-pill {
	.br-widget {
		a.br-active {
			background-color: #6259ca;
			color: #fff;
		}
		a.br-selected {
			background-color: #6259ca;
			color: #fff;
		}
	}
}
.br-theme-bars-horizontal {
	.br-widget {
		a.br-active {
			background-color: #6259ca;
		}
		a.br-selected {
			background-color: #6259ca;
		}
	}
}
.main-content-body-profile {
	.main-nav-line {
		.nav-link.active {
			color: #6259ca;
		}
	}
}
.custom-switch-input {
	&:checked~.custom-switch-indicator {
		background: #6259ca;
	}
}
.rdiobox {
	input[type=radio] {
		&:checked+span {
			&:before {
				border-color: transparent;
				background-color: #6259ca;
			}
		}
	}
}
.form-control {
	&:disabled {
		background-color: #f6f6ff;
	}
}
.form-control[readonly] {
	background-color: #f6f6ff;
}
.selectgroup-input {
	&:checked+.selectgroup-button {
		border-color: #6259ca;
		color: #6259ca;
		background: #e5e9f3;
	}
}
.input-group-text {
	background-color: #f6f6ff;
	border: 1px solid #e8e8f7;
}
.ui-datepicker {
	.ui-datepicker-header {
		.ui-datepicker-next {
			&:before {
				background: rgba(77,76,178,.1);
				color: #6259ca;
			}
		}
		.ui-datepicker-prev {
			&:before {
				background: rgba(77,76,178,.1);
				color: #6259ca;
			}
		}
	}
	.ui-datepicker-calendar {
		.ui-datepicker-today {
			a {
				background-color: #6259ca;
				color: #fff;
				&:focus {
					background-color: #6259ca;
					color: #fff;
				}
				&:hover {
					background-color: #6259ca;
					color: #fff;
				}
			}
		}
	}
}
.irs-bar {
	background-color: #6259ca;
}
.irs-from {
	color: #fff;
	background: #6259ca;
}
.irs-single {
	color: #fff;
	background: #6259ca;
}
.irs-to {
	color: #fff;
	background: #6259ca;
}
.irs-line-mid {
	background-color: #f0f0ff;
}
.irs-line-right {
	background-color: #f0f0ff;
}
.irs-max {
	color: #78769a;
	background: #f2f1ff;
}
.irs-min {
	color: #78769a;
	background: #f2f1ff;
}
.select2-container--default.select2-container--disabled {
	.select2-selection--single {
		background-color: #f2f1ff;
	}
}
.ff_fileupload_wrap {
	.ff_fileupload_dropzone {
		border: 2px dashed #dcd9f5;
		background-color: #f2f1ff;
	}
}
.wizard {
	>.steps {
		a {
			.number {
				color: #8f9cc0;
				background-color: #f0f0ff;
			}
			&:active {
				.number {
					color: #8f9cc0;
					background-color: #f0f0ff;
				}
			}
			&:hover {
				.number {
					color: #8f9cc0;
					background-color: #f0f0ff;
				}
			}
		}
		.current {
			a {
				.number {
					background-color: #6259ca;
					color: #fff;
				}
				&:active {
					.number {
						background-color: #6259ca;
						color: #fff;
					}
				}
				&:hover {
					.number {
						background-color: #6259ca;
						color: #fff;
					}
				}
			}
		}
	}
}
.profile-cover__info {
	.nav {
		strong {
			color: #6259ca;
		}
	}
}
.profile-tab {
	.main-nav-line {
		.nav-link.active {
			color: #6259ca;
		}
	}
}
.pricing-tabs {
	.nav-price {
		li {
			.active {
				background: #ececfc;
				color: #6259ca;
			}
		}
	}
}
.table-hover {
	tbody {
		tr {
			&:hover {
				background-color: #f8f8ff;
			}
		}
	}
}
.bg-transparent {
	background-color: transparent;
}
.bg-gray-100 {
	background-color: #eaeafb;
}
.bg-gray-200 {
	background-color: #d0d0ec;
}
.bg-gray-300 {
	background-color: #babade;
}
.bg-gray-400 {
	background-color: #8f8fb7;
}
.bg-gray-500 {
	background-color: #717196;
}
.bg-gray-600 {
	background-color: #4f4f71;
}
.bg-gray-700 {
	background-color: #3c3c5d;
}
.bg-gray-800 {
	background-color: #262644;
}
.bg-gray-900 {
	background-color: #1b1b33;
}
.signpages {
	.details {
		&:before {
			background: rgba(77,76,178,.9);
		}
	}
}
.construction {
	&:before {
		background: rgba(77,76,178,.96);
	}
}
.first-sidemenu {
	background: #6259ca;
	background: #25233c;
}
.second-sidemenu {
	.menu {
		.slide-item.active {
			&:before {
				color: #6259ca;
				color: #6259ca;
				color: #6259ca;
			}
		}
		.slide-item {
			&:hover {
				&:before {
					color: #6259ca;
				}
			}
		}
	}
	.slide-item.active {
		color: #6259ca;
		color: #6259ca;
	}
	.slide-item {
		&:hover {
			color: #6259ca;
		}
	}
}
.progress-bar {
	background-color: #6259ca;
}
.tag-primary {
	background-color: #6259ca;
}
.breadcrumb {
	background-color: #f0f0ff;
}
.bg-secondary {
	.main-nav {
		.nav-link.active {
			color: #fff;
		}
	}
}
.popover-header {
	background-color: #6259ca;
	color: #fff;
}
.lds-heart {
	div {
		&:after {
			background: #6259ca;
		}
		&:before {
			background: #6259ca;
		}
		background: #6259ca;
	}
}
.lds-ripple {
	div {
		border: 4px solid #6259ca;
	}
}
.lds-spinner {
	div {
		&:after {
			background: #6259ca;
		}
	}
}
.lds-circle {
	>div {
		background: #6259ca;
	}
}
.lds-dual-ring {
	&:after {
		border-color: #6259ca transparent;
		border-style: solid;
		border-width: 5px;
	}
}
.lds-facebook {
	div {
		background: #6259ca;
	}
}
.main-navbar {
	.nav-item.active {
		.nav-link {
			color: #6259ca;
		}
		.nav-link.with-sub {
			&:after {
				color: #6259ca;
			}
		}
	}
	.nav-sub-item.active {
		>.nav-sub-link {
			color: #6259ca;
			&:before {
				color: #6259ca;
			}
		}
	}
	.nav-sub-link {
		&:focus {
			color: #6259ca;
		}
		&:hover {
			color: #6259ca;
		}
	}
}
.main-form-search {
	.btn {
		background-color: #6259ca;
	}
	.sp-container {
		button {
			background-color: #6259ca;
		}
	}
}
.flat {
	a.active {
		background: #6259ca;
		color: #fff;
		&:after {
			background: #6259ca;
			color: #fff;
		}
	}
	a {
		&:hover {
			background: #6259ca;
			color: #fff;
			&:after {
				background: #6259ca;
				color: #fff;
			}
		}
	}
}
.nav-tabs {
	.nav-link {
		&:focus {
			background-color: #6259ca;
			color: #fff !important;
		}
		&:hover {
			background-color: #6259ca;
			color: #fff !important;
		}
	}
}
.light-horizontal {
	.main-navbar.hor-menu {
		.nav-item.active {
			.nav-link {
				color: #6259ca;
			}
		}
		.nav-item {
			&:hover {
				.nav-link {
					color: #6259ca;
				}
			}
		}
	}
	.main-navbar {
		.nav-item {
			&:hover {
				.nav-link.with-sub {
					&:after {
						color: #7b7ba2;
					}
				}
			}
		}
		.nav-link {
			color: #7b7ba2;
		}
	}
}
.main-sidebar-body {
	li.active {
		.sidemenu-label {
			color: #6259ca;
		}
		i {
			color: #6259ca;
		}
		.sidemenu-icon {
			background: #6259ca;
		}
	}
	.nav-sub-link {
		&:focus {
			color: #fff;
		}
		&:hover {
			color: #fff;
		}
	}
	.nav-sub {
		.nav-sub-item.active {
			.nav-sub-link {
				&:before {
					color: #fff;
					opacity: .9;
				}
			}
		}
	}
}
.resp-tabs-list {
	li.resp-tab-active {
		&:after {
			border-right: 20px solid #25233c;
		}
		&:before {
			border-right: 20px solid #25233c;
		}
		.side-menu__icon {
			background: #6259ca;
		}
	}
	li.resp-tab-item.active {
		&:after {
			border-right: 20px solid #25233c;
		}
		&:before {
			border-right: 20px solid #25233c;
		}
		.side-menu__icon {
			background: #6259ca;
		}
	}
}
.project {
	.deadline {
		background: #eaedf7;
	}
}
.project-status.primary {
	&:before {
		border-left: 3px solid #6259ca;
	}
}
.badge-primary-light {
	background-color: rgba(98,89,202,.16);
	color: #6259c9;
}
.badge-warning-light {
	background-color: #fdf5e2;
	color: #ebb322;
}
.badge-danger-light {
	background-color: #ffe7e8;
	color: #f16d75;
}
.peity {
	position: relative;
	&:before {
		content: "5%";
		position: absolute;
	}
}
.list-card {
	background: #f6f6fb;
}
.forth.circle {
	.chart-circle-value.circle-style {
		border: 2px dotted #aba5f4;
		background: #fcfcff;
	}
}
.color-leftmenu {
	.main-sidebar-sticky {
		background: #6259ca;
	}
	.main-sidebar-body {
		.sub-txt {
			color: #9d96ef;
		}
		.nav-label {
			color: rgba(209,213,230,.4);
		}
	}
}
.dark-theme.light-leftmenu {
	.second-sidemenu {
		.slide-item.active {
			color: #6259ca;
		}
	}
}
.crypto-btc-usd {
	.nav-link.active {
		color: #fff;
		background-color: #6259ca !important;
	}
}
.irs-slider {
	&:before {
		background-color: #6259ca !important;
	}
}
.custom-control-input {
	&:checked~.custom-control-label {
		&:before {
			color: #fff;
			border-color: #6259ca;
			background-color: #6259ca;
		}
	}
}
.sweet-alert {
	button {
		background-color: #6259ca !important;
	}
}
.alert-message {
	border: 1px solid #544baf;
	border-radius: 3px;
	background: #5a51b9;
	padding: 1rem;
}
.alert-icons {
	height: 70px;
	width: 70px;
	fill: #fff;
}
.popover-primary {
	background-color: #6259ca;
	border-color: #6259ca;
}
.popover-secondary {
	background-color: #f1388b;
	border-color: #f1388b;
}
.bs-popover-auto[x-placement^=top] {
	>.arrow {
		&:after {
			bottom: 1px;
			border-width: .5rem .5rem 0;
			border-top-color: #6259ca;
		}
	}
}
.bs-popover-top {
	>.arrow {
		&:after {
			bottom: 1px;
			border-width: .5rem .5rem 0;
			border-top-color: #6259ca;
		}
	}
}
@media (min-width:992px) {
	.main-navbar.hor-menu {
		.nav-sub-item.active {
			a {
				color: #6259ca;
			}
		}
	}
	.main-navbar {
		.nav-sub-item.active {
			>.nav-sub-link {
				color: #6259ca;
				&:before {
					color: #6259ca;
				}
			}
		}
		.nav-sub-link {
			&:focus {
				color: #6259ca;
			}
			&:hover {
				color: #6259ca;
			}
		}
	}
}
@media (max-width:991px) {
	.main-navbar.hor-menu {
		.nav-sub-item.active {
			a {
				color: #fff;
			}
		}
	}
	.main-navbar {
		.nav-sub-item.active {
			>.nav-sub-link {
				color: #fff;
				&:before {
					color: #fff;
				}
			}
		}
	}
}
